body{
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d1dedd;
}
ul,li{
    padding:0;
    list-style: none;
}
h1,h2,h3{
    color: #767f7e;
}
p{
    color: #828b8a;
}
header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
}
article.featured{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}
article img, article.featured img{
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
}
article p, article h3{
    margin: 20px 10px;
}

/* reponsive tablet/ipad */
@media (max-width: 980px){
    article{
        display: grid;
        grid-column: span 3;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
        border-bottom: 1px solid #bbc7c7;
        padding-bottom: 40px;
    }
}

/* reponstive mobile */
@media (max-width: 780px) {
    article, article.featured{
        display: block;
        margin: 0 20px;
    }
    
}